.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{width:88.932000px;}
._1{width:1548.064936px;}
._5{width:1619.657342px;}
._4{width:1667.303746px;}
._3{width:1691.311148px;}
._0{width:1711.634550px;}
._2{width:1923.218968px;}
.fc4{color:rgb(173,31,150);}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(0,0,46);}
.fc2{color:rgb(45,77,242);}
.fc3{color:rgb(1,95,152);}
.fse{font-size:52.480000px;}
.fsf{font-size:54.480000px;}
.fs9{font-size:61.400005px;}
.fs4{font-size:66.320000px;}
.fsb{font-size:73.320000px;}
.fs1{font-size:74.360001px;}
.fsc{font-size:91.680000px;}
.fs7{font-size:92.959999px;}
.fs5{font-size:99.480003px;}
.fs6{font-size:111.519997px;}
.fsd{font-size:131.240005px;}
.fs8{font-size:153.479996px;}
.fs3{font-size:165.800003px;}
.fsa{font-size:183.360001px;}
.fs2{font-size:185.880005px;}
.fs0{font-size:223.080002px;}
.y0{bottom:0.000000px;}
.y2e{bottom:64.701752px;}
.y53{bottom:73.743256px;}
.y3f{bottom:76.442616px;}
.y4a{bottom:77.656588px;}
.y22{bottom:80.058304px;}
.y52{bottom:97.363258px;}
.y2d{bottom:98.161758px;}
.y3e{bottom:104.072615px;}
.y21{bottom:109.898315px;}
.y51{bottom:120.983259px;}
.y49{bottom:126.210945px;}
.y2c{bottom:131.621765px;}
.y20{bottom:139.738327px;}
.y1a{bottom:141.985596px;}
.y3d{bottom:156.707685px;}
.y2b{bottom:165.081764px;}
.y1f{bottom:169.578323px;}
.y19{bottom:171.825607px;}
.y14{bottom:171.825638px;}
.y48{bottom:181.518005px;}
.y34{bottom:183.796318px;}
.y5{bottom:192.771988px;}
.y2a{bottom:198.541763px;}
.y1e{bottom:199.418320px;}
.ya{bottom:200.398369px;}
.y18{bottom:201.665604px;}
.y13{bottom:201.665634px;}
.y3c{bottom:209.342817px;}
.y47{bottom:214.518005px;}
.y33{bottom:217.256319px;}
.y4{bottom:226.231987px;}
.y1d{bottom:229.258316px;}
.y17{bottom:231.505600px;}
.y12{bottom:231.505630px;}
.y29{bottom:232.001762px;}
.y9{bottom:233.858370px;}
.y46{bottom:247.518005px;}
.y1c{bottom:259.098316px;}
.y3{bottom:259.691988px;}
.y16{bottom:261.345596px;}
.y11{bottom:261.345627px;}
.y3b{bottom:261.977919px;}
.y28{bottom:265.461763px;}
.y45{bottom:280.518005px;}
.y15{bottom:291.185596px;}
.y10{bottom:291.185627px;}
.y32{bottom:296.097183px;}
.y1b{bottom:305.378345px;}
.y26{bottom:312.783653px;}
.y8{bottom:312.945915px;}
.y44{bottom:313.518005px;}
.y3a{bottom:314.613050px;}
.y27{bottom:314.681404px;}
.y2{bottom:327.161179px;}
.y31{bottom:329.557182px;}
.yf{bottom:337.708347px;}
.y50{bottom:346.310987px;}
.y7{bottom:346.405916px;}
.y43{bottom:346.518007px;}
.y30{bottom:363.017183px;}
.y39{bottom:367.248182px;}
.y4f{bottom:386.038633px;}
.y25{bottom:391.135445px;}
.y42{bottom:395.072533px;}
.y1{bottom:399.661182px;}
.ye{bottom:410.833511px;}
.y4e{bottom:415.994841px;}
.y24{bottom:424.595446px;}
.y6{bottom:425.121174px;}
.y38{bottom:429.095665px;}
.yd{bottom:440.673508px;}
.y2f{bottom:441.732517px;}
.y4d{bottom:445.951063px;}
.y37{bottom:456.725666px;}
.y41{bottom:468.436846px;}
.yc{bottom:470.513508px;}
.y36{bottom:484.355665px;}
.y4c{bottom:485.678709px;}
.y23{bottom:503.310711px;}
.yb{bottom:540.716152px;}
.y4b{bottom:541.235744px;}
.y40{bottom:546.065315px;}
.y35{bottom:549.345604px;}
.hf{height:38.232500px;}
.h10{height:39.689531px;}
.ha{height:44.730863px;}
.h5{height:48.315156px;}
.hc{height:53.414765px;}
.h2{height:54.172422px;}
.hd{height:66.745547px;}
.h8{height:67.677421px;}
.h6{height:72.424163px;}
.h7{height:81.189607px;}
.he{height:95.546313px;}
.h9{height:111.737634px;}
.h4{height:120.706936px;}
.hb{height:133.491094px;}
.h3{height:135.325726px;}
.h1{height:162.408341px;}
.h0{height:648.000000px;}
.w0{width:1152.000000px;}
.x0{left:0.000000px;}
.x11{left:56.400024px;}
.x13{left:57.929672px;}
.x12{left:59.867172px;}
.xb{left:64.753174px;}
.x3{left:69.365585px;}
.x1{left:76.903137px;}
.x6{left:82.859370px;}
.xc{left:83.934418px;}
.xe{left:96.562523px;}
.x2{left:104.784424px;}
.x7{left:137.306213px;}
.x14{left:198.679672px;}
.x15{left:412.942215px;}
.x4{left:425.962524px;}
.xf{left:440.840576px;}
.x8{left:481.031311px;}
.x16{left:482.942215px;}
.xd{left:598.846863px;}
.x9{left:770.309375px;}
.x17{left:773.204666px;}
.x5{left:782.559387px;}
.x10{left:785.118774px;}
.x18{left:790.142166px;}
.x19{left:813.829681px;}
.xa{left:824.756226px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{width:118.576000pt;}
._1{width:2064.086581pt;}
._5{width:2159.543123pt;}
._4{width:2223.071662pt;}
._3{width:2255.081531pt;}
._0{width:2282.179400pt;}
._2{width:2564.291958pt;}
.fse{font-size:69.973333pt;}
.fsf{font-size:72.639999pt;}
.fs9{font-size:81.866674pt;}
.fs4{font-size:88.426666pt;}
.fsb{font-size:97.760000pt;}
.fs1{font-size:99.146667pt;}
.fsc{font-size:122.240000pt;}
.fs7{font-size:123.946665pt;}
.fs5{font-size:132.640004pt;}
.fs6{font-size:148.693329pt;}
.fsd{font-size:174.986674pt;}
.fs8{font-size:204.639994pt;}
.fs3{font-size:221.066671pt;}
.fsa{font-size:244.480001pt;}
.fs2{font-size:247.840007pt;}
.fs0{font-size:297.440002pt;}
.y0{bottom:0.000000pt;}
.y2e{bottom:86.269002pt;}
.y53{bottom:98.324341pt;}
.y3f{bottom:101.923487pt;}
.y4a{bottom:103.542117pt;}
.y22{bottom:106.744405pt;}
.y52{bottom:129.817678pt;}
.y2d{bottom:130.882345pt;}
.y3e{bottom:138.763486pt;}
.y21{bottom:146.531087pt;}
.y51{bottom:161.311012pt;}
.y49{bottom:168.281260pt;}
.y2c{bottom:175.495687pt;}
.y20{bottom:186.317769pt;}
.y1a{bottom:189.314128pt;}
.y3d{bottom:208.943581pt;}
.y2b{bottom:220.109019pt;}
.y1f{bottom:226.104431pt;}
.y19{bottom:229.100810pt;}
.y14{bottom:229.100850pt;}
.y48{bottom:242.024007pt;}
.y34{bottom:245.061757pt;}
.y5{bottom:257.029317pt;}
.y2a{bottom:264.722351pt;}
.y1e{bottom:265.891093pt;}
.ya{bottom:267.197825pt;}
.y18{bottom:268.887472pt;}
.y13{bottom:268.887512pt;}
.y3c{bottom:279.123756pt;}
.y47{bottom:286.024007pt;}
.y33{bottom:289.675092pt;}
.y4{bottom:301.642649pt;}
.y1d{bottom:305.677755pt;}
.y17{bottom:308.674133pt;}
.y12{bottom:308.674174pt;}
.y29{bottom:309.335683pt;}
.y9{bottom:311.811160pt;}
.y46{bottom:330.024007pt;}
.y1c{bottom:345.464422pt;}
.y3{bottom:346.255984pt;}
.y16{bottom:348.460795pt;}
.y11{bottom:348.460836pt;}
.y3b{bottom:349.303891pt;}
.y28{bottom:353.949018pt;}
.y45{bottom:374.024007pt;}
.y15{bottom:388.247462pt;}
.y10{bottom:388.247503pt;}
.y32{bottom:394.796244pt;}
.y1b{bottom:407.171127pt;}
.y26{bottom:417.044871pt;}
.y8{bottom:417.261220pt;}
.y44{bottom:418.024007pt;}
.y3a{bottom:419.484067pt;}
.y27{bottom:419.575205pt;}
.y2{bottom:436.214905pt;}
.y31{bottom:439.409576pt;}
.yf{bottom:450.277796pt;}
.y50{bottom:461.747983pt;}
.y7{bottom:461.874555pt;}
.y43{bottom:462.024010pt;}
.y30{bottom:484.022911pt;}
.y39{bottom:489.664243pt;}
.y4f{bottom:514.718178pt;}
.y25{bottom:521.513926pt;}
.y42{bottom:526.763377pt;}
.y1{bottom:532.881577pt;}
.ye{bottom:547.778015pt;}
.y4e{bottom:554.659787pt;}
.y24{bottom:566.127261pt;}
.y6{bottom:566.828232pt;}
.y38{bottom:572.127553pt;}
.yd{bottom:587.564677pt;}
.y2f{bottom:588.976690pt;}
.y4d{bottom:594.601418pt;}
.y37{bottom:608.967555pt;}
.y41{bottom:624.582461pt;}
.yc{bottom:627.351344pt;}
.y36{bottom:645.807554pt;}
.y4c{bottom:647.571612pt;}
.y23{bottom:671.080948pt;}
.yb{bottom:720.954870pt;}
.y4b{bottom:721.647659pt;}
.y40{bottom:728.087087pt;}
.y35{bottom:732.460805pt;}
.hf{height:50.976666pt;}
.h10{height:52.919375pt;}
.ha{height:59.641151pt;}
.h5{height:64.420208pt;}
.hc{height:71.219687pt;}
.h2{height:72.229896pt;}
.hd{height:88.994063pt;}
.h8{height:90.236562pt;}
.h6{height:96.565550pt;}
.h7{height:108.252809pt;}
.he{height:127.395083pt;}
.h9{height:148.983511pt;}
.h4{height:160.942581pt;}
.hb{height:177.988126pt;}
.h3{height:180.434302pt;}
.h1{height:216.544455pt;}
.h0{height:864.000000pt;}
.w0{width:1536.000000pt;}
.x0{left:0.000000pt;}
.x11{left:75.200033pt;}
.x13{left:77.239563pt;}
.x12{left:79.822896pt;}
.xb{left:86.337565pt;}
.x3{left:92.487447pt;}
.x1{left:102.537516pt;}
.x6{left:110.479160pt;}
.xc{left:111.912557pt;}
.xe{left:128.750031pt;}
.x2{left:139.712565pt;}
.x7{left:183.074951pt;}
.x14{left:264.906230pt;}
.x15{left:550.589620pt;}
.x4{left:567.950033pt;}
.xf{left:587.787435pt;}
.x8{left:641.375081pt;}
.x16{left:643.922953pt;}
.xd{left:798.462484pt;}
.x9{left:1027.079166pt;}
.x17{left:1030.939555pt;}
.x5{left:1043.412516pt;}
.x10{left:1046.825033pt;}
.x18{left:1053.522888pt;}
.x19{left:1085.106242pt;}
.xa{left:1099.674967pt;}
}
